{% load static thumbnail my_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Космическое агенство</title>
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="font-family: 'Montserrat'">
<nav class=" navbar navbar-dark navbar-expand-lg px-2 py-3" style="background-color: #0A121E">
    <div class="container px-0">
        <button class="navbar-toggler me-3 custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#menuItems"
                aria-controls="menuItems" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars" style="color:#FF342B; font-size:28px;"></i>
            </span>
        </button>
        <a class="navbar-brand d-inline-flex justify-content-start me-auto" href="#">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </a>
        <div class="navbar-collapse collapse justify-content-center mx-auto pe-auto" id="menuItems">
            <ul class="navbar-nav fw-bolder text-left" style="font-size: 16px">
                <li class="nav-item px-1">
                    <a class="nav-link active" aria-current="page" href="#plusesArea">ПРЕИМУЩЕСТВА</a>
                </li>
                <li class="nav-item px-1">
                    <a class="nav-link active" href="#photoArea">ФОТОГРАФИИ</a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn ms-auto btn-danger fw-bolder d-inline-flex justify-content-md-end"
                style="background-color: #FF342B">
            ВХОД
        </button>
    </div>
</nav>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-bold mb-5" style="font-size: 56px">Космическое агентство</h1>
            <p class="lead text-muted" style="font-size: 18px; font-weight: 400">Национальное управление по
                аэронавтике
                и исследованию космического пространства —
                ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту
                США.</p>
        </div>
    </div>
</section>
<div class="container" style="font-size: 14px">
    <section class="mb-5" id="plusesArea">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <div class="row d-flex justify-content-start">
                    <div class="col-6 col-sm-6 my-5">
                        <div class="card border-0">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'img/icon_1.svg' %}" class="card-icon">
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Спейс шаттлы —пилотируемые корабли</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 my-5">
                        <div class="card border-0">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'img/icon_2.svg' %}" class="card-icon">
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Лучшее телескопическое оборудование</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start">
                    <div class="col-6 col-sm-6 my-5">
                        <div class="card border-0">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'img/icon_3.svg' %}" class="card-icon">
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Целимся на Луну <br/>и Марс</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 my-5">
                        <div class="card border-0">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'img/icon_4.svg' %}" class="card-icon">
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">Золотая медаль <br/> по научным исследованиям</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <img src="{% static 'img/photo.png' %}">
            </div>
        </div>
    </section>
</div>
<div class="py-5" style="background-color: #3C3C3C" id="photoArea">
    <div class="price-header mx-5 my-5">
        <h2 class="text-white text-center fw-bolder">Фотографии</h2>
    </div>
    <section class="container">
        <div class="slider slider-for my-5">
            {% for image in slider_images %}
            <div>
                <img src="{% thumbnail image.image 750x420 crop='smart' %}"
                     class="round border-dark-1 mx-auto d-block shadow-lg"
                     alt="{{ image.title }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
            </div>
            {% endfor %}
        </div>
        <div class="modal fade" data-modal-color="0" id="exampleModal" tabindex="-1" role="img" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="background-color: 0">
                    <div class="modal-header">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="slider slider-for-1">
                            {% for image in slider_images %}
                            <div class="d-flex justify-content-center">
                                <img src="{% mediapath image.image.url %}" alt="{{ image.title }}"
                                style="max-width: 1024px; max-height: 768px">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider center p-0 d-flex justify-content-center">
            {% for image in slider_images %}
            <div class="d-flex justify-content-center">
                <img src="{% thumbnail image.image 165x165 crop='smart' %}" class="round d-flex justify-content-center"
                     alt="{{ image.title }}">
            </div>
            {% endfor %}
        </div>
    </section>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.slider-for').slick({
         infinite: true,
         slidesToShow: 1,
         slidesToScroll: 1,
         arrows: false,
         fade: true,
         asNavFor: '.center, .slider-for-1'
        });
        $('.center').slick({
         slidesToShow: 5,
         slidesToScroll: 1,
         centerMode: true,
         centerPadding: '60px',
         asNavFor: '.slider-for, .slider-for-1'
        });
        $('.slider-for-1').slick({
         infinite: true,
         slidesToShow: 1,
         slidesToScroll: 1,
         arrows: true,
         fade: true,
         asNavFor: '.center, .slider-for',
         prevArrow: '<button class="slick-prev mx-auto px-auto" aria-label="Previous" type="button">Предыдущий</button>',
         nextArrow: '<button class="slick-next mx-auto px-auto" aria-label="Next" type="button">Следующий</button>'
        });
    });

</script>

</body>
</html>
